@page
@model xinchen_web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post">
    <div class="login-container">
        <div class="login-box">
            <div>
                <label for="username">帳號名稱：</label>
                <input type="text" id="username" name="Username" required />
            </div>
            <div>
                <label for="password">密碼：</label>
                <input type="password" id="password" name="Password" required />
            </div>
            <div class="button-container">
                <button type="submit" name="submitbutton" value="login">登入</button>
                <button type="submit" name="submitbutton" value="register">註冊</button>
            </div>
            <div style="color:red; display:block; height:30px; text-align:center; margin-top:20px;">
                @TempData["ErrorMessage"]
            </div>
        </div>
    </div>
</form>


