<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4415aca4-4c90-46e2-b4f1-ae71de125aaa/resourceGroups/xinchen/providers/Microsoft.Web/sites/xinchen-web</ResourceId>
    <ResourceGroup>xinchen</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://xinchen-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>659e59bb-5354-4a77-ac77-83c68c559a28</ProjectGuid>
    <PublishUrl>https://xinchen-web.scm.azurewebsites.net/</PublishUrl>
    <UserName>$xinchen-web</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>